{% extends 'core/base.html' %}

{% block content %}
    <h1 class="text-3xl">About</h1>

    <div class="mt-6 space-y-6">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique tenetur ab atque, corporis quam eaque magni nobis est reiciendis doloribus voluptatem repudiandae adipisci eum, deserunt omnis optio aperiam eius odio?
        </p>
        
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique tenetur ab atque, corporis quam eaque magni nobis est reiciendis doloribus voluptatem repudiandae adipisci eum, deserunt omnis optio aperiam eius odio?
        </p>
    </div>
{% endblock %}